@import "tailwindcss";

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

@theme {
  --color-gray: rgba(230, 230, 230, 0.7);
  --animate-scroll-right-to-left: scroll-right-to-left 20s linear infinite;

  @keyframes scroll-right-to-left {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
}
@layer utilities {
  .text-custom-blue {
    color: rgba(27, 45, 107, 1);
  }
  .text-custom-blue-gray{
    color: rgba(71, 103, 136, 1);
  }
  .bg-card-bg{
    background-color: rgba(231, 236, 255, 1);
  }
  .border-custom-color {
    border: 1px solid rgba(27, 27, 27, 0.08);
  }
  .card-border-color{ 
    border: 1px solid rgba(230, 230, 230, 0.7);
  }
}
